h1, h2, h3, p
        margin: 0

a
    text-decoration: none
    color: inherit
    outline: none

button
    padding: 0
    border: none
    outline: none
    cursor: pointer
    &:active
        transform: translateY(1.5px)

ul
    list-style: none
    padding: 0
    display: flex

input
    outline: none
    border: none