@import '../../GeneralInfoPage/_fonts'
@import '../../GeneralInfoPage/_tags'

.mainBlock
    width: 1600px
    height: fit-content
    margin: 59px auto 113px
    font-style: normal
    font-weight: normal
    display: flex
    flex-direction: column
    
    .back_to_edit-link
        position: relative
        font-family: Inter
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 15px
        display: flex
        align-items: center
        color: #6A6A6A
        margin: auto auto 48px 100px
        padding-left: 14px
        width: 192px
        &::before
            position: absolute
            content: ''
            background: url('../assets/linkarrow.svg') no-repeat
            width: 6px
            height: 10px
            left: 0
        &:hover
            color: #000000
    
    .mainContent
        display: flex
        justify-content: space-between
        width: 100%
        margin-left: 100px
            
        .sideBar
            position: relative
            width: 352px
            height: fit-content
            position: relative
            background: #FFFFFF
            border: 1px solid #E7E7E7
            border-radius: 10px
            &:last-child
                width: 258px
                height: inherit
                background: #FBFBFB
                border-radius: 10px
                
                .scroll_to_top-block
                    position: sticky
                    top: 50px
                    width: 68px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin: 24px auto
                    font-family: Rubik
                    font-weight: 500
                    font-size: 12px
                    line-height: 150%
                    color: #6A6A6A

            .sideBarUserAvatar
                width: 116px
                height: 116px
                margin: 48px 118px auto
                text-align: center
                background: #d7fafc
                border-radius: 50%

            .sideBarUserName
                font-family: Rubik
                font-weight: 500
                font-size: 21px
                line-height: 70%
                text-align: center
                margin: 42px auto 62px
                color: #000000
            
            .sideBarList
                flex-direction: column
                margin: 16px auto 0
                display: flex
                align-items: space-between
                li
                    padding-left: 24px
                    margin-bottom: 47px
                    height: 36px
                    display: flex
                    flex-direction: column
                    align-items: left
                    justify-content: space-between
                    font-family: Rubik
                    font-size: 16px
                    line-height: 70%
                    color: #AAAAAA
                    &:last-child
                        margin-bottom: 12px
                        height: fit-content
                    .itemLabel
                        color: #B8B8B8
                    .itemValue
                        color: #000000
            
            .userSocialLinks
                margin-left: 24px
                margin-bottom: 48px
                width: 85px
                display: flex
                justify-content: space-between
                    
                                   
                
        .summaryBlock
            width: 950px
            height: fit-content
            border: 1px solid #E7E7E7
            border-radius: 10px
            background: #FFFFFF
            article
                height: fit-content
                
                .titleBlock
                    position: relative
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 886px
                    margin: 48px auto 24px
                    font-weight: 500
                    .title
                        font-family: Rubik
                        font-size: 24px
                        line-height: 70%
                        color: #000000
                    
                .textBlock
                    font-family: Rubik
                    font-size: 18px
                    line-height: 152%
                    color: #5E5E5E
                    margin: 32px 32px 48px
                    padding-bottom: 48px
                    border-bottom: 1px solid #E8E8E8
                    span
                        line-height: 135.5%
                        color: #5D5D5D
                    &:last-child
                        margin-bottom: 0