.selectedItems
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    width: 886px
    height: fit-content
    margin: 0 32px 48px
    padding-bottom: 48px
    border-bottom: 1px solid #E8E8E8
    .selectedItem
        width: fit-content
        padding: 0 26px
        height: 42px
        margin-right: 8px
        margin-bottom: 8px 
        background: #F2F2F2
        border-radius: 6px
        font-family: Rubik
        font-weight: 500
        font-size: 14px
        line-height: 70%
        display: flex
        align-items: center
        justify-content: center
        color: #6A6A6A

.portfolioList
    width: 886px
    display: flex
    flex-direction: column
    margin: 8px auto 48px
    padding-bottom: 24px
    border-bottom: 1px solid #E8E8E8
    .portfolioURL
        font-family: Rubik
        font-size: 13px
        line-height: 150%
        display: flex
        align-items: center
        justify-content: space-between
        text-decoration-line: underline
        color: #2C5DDF
        padding: 24px 32px
        &:last-child
            box-shadow: 0px 20px 50px -5px rgba(33, 35, 40, 0.07)
            border-bottom-radius: 6px
            margin-bottom: 15px
        