@import './_fonts';

.general-wrapper {
    width: 886px;
    height: fit-content;
    margin: auto;
    padding-bottom: 0;
background-color: #f5f5f5;
.wrapper-class {
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: column-reverse;
  width: 862px;
  
}
.editor-class {
    padding: 0;
    height: 70px;
    border: none;
    div[class*="DraftStyleDefault"] {
        margin: 0;
        padding: 0 ;
        vertical-align: top;
        font-family: 'IBM Plex Mono';
        font-size: 13px;
        line-height: 150%;
        }
}
.toolbar-class {
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  height: 30px;
  vertical-align: top;
  display: flex;
align-items: center;
 ul {
     зф: 0;
 }
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}

div[class*="fontsize"],
div[class*="fontfamily"],
div[class*="colorpicker"],
div[class*="embedded"],
div[class*="emoji"],
div[class*="image-wrapper"],
div[class*="remove"] {
  display: none;
}

div[class*="option"] {
  margin: 0;
  background-color: transparent;
  border-bottom: none;
}
}
