@import '../_fonts'

.footerBlock 
    height: 347px

    .footerContent
        width: 1324px
        margin: auto
        border-top: 1px solid #E0E0E7
        display: flex
        flex-direction: column
        
        .footerUpper
            border-bottom: 1px solid #E0E0E7
            height: 152px
            display: flex
            font-weight: normal
            align-items: flex-start
            justify-content: space-between
            font-size: 18px
            margin-top: 72px 
        
        .blockWrapper 
            display: flex
            width: 920px
            justify-content: space-between
            .block
                display: flex
                flex-direction: column
                &:first-child
                    margin-right: 149px
                
                .label
                    font-family: Rubik
                    line-height: 21px
                    color: #BFBFBF
                    margin: 5px 0 20px 
                .itemName
                    font-family: IBM Plex Mono
                    line-height: 23px
                    display: flex
                    align-items: center
                    color: #515154
                    img
                        margin-right: 12px
                    a
                        text-decoration: none
                        color: inherit
                        margin-right: 32px
                        &:last-child
                            margin: 0
                        &:hover,
                        &:active
                            text-decoration: underline
                            color: #35B34A
        .footerLower
            .legalBlock
                display: flex
                margin: auto
                width: 515px
                height: 19px
                margin: 36px auto
                a
                    padding: 0 16px
                    font-family: 'Rubik'
                    font-size: 16px
                    line-height: 19px
                    color: #BFBFBF
                    text-decoration: none
                    &:hover
                        color: #4b4747
                    &:nth-child(2)
                        border-left: 1px solid #BFBFBF
                        border-right: 1px solid #BFBFBF
                
