.popup
    position: absolute
    width: 339px
    height: 86px
    bottom: 50px
    right: -143px
    background: #FFFFFF
    border: 2px solid #E0E0E7
    border-radius: 8px
    display: none
    align-items: center
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.17)
    z-index: 2
    &::after
        position: absolute
        content: ''
        width: 30px
        height: 26px
        bottom: -16px
        right: 135px
        background: #FFFFFF
        border-radius: 2px
        border: 3px solid #E0E0E7
        border-bottom: none
        border-right: none
        transform: matrix(1, 0, 0, -1, 0, 0) rotate(31deg) skew(-25deg)
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.17)
    &::before
        position: absolute
        content: ''
        width: 60px
        height: 27px
        background: #FFFFFF
        bottom: 0
        right: 125px
        z-index: 1
    p
        font-family: Rubik
        font-size: 15px
        line-height: 128.5%
        display: flex
        align-items: center
        color: #000000
        margin-left: 24px
