@import '../_fonts'
    
.headerBlock
    margin: 0
    height: 97px
    display: flex
    background: #FFFFFF
    
    .headerContent
        width: 1624px
        margin: auto
        display: flex
        align-items: center
        justify-content: space-between
    
        .headerMenu
            width: 514px
            display: flex
            justify-content: space-between
            margin: 0
    
            a
                font-family: IBM Plex Mono
                font-style: normal
                font-weight: 500
                font-size: 16px
                line-height: 21px
                color: #000000
                text-decoration: none
                outline: none
                &:first-child
                    color: #35B34A
                &:hover
                    color: #35B34A
                
        .imgBlock
            width: 159px
            display: flex
            justify-content: space-between
            align-items: center 
            font-family: IBM Plex Mono
            img
                width: 37px
                height: 37px
                background: rgba(93, 175, 87, 0.11)
                border-radius: 50px
                display: flex
                justify-content: center
                align-items: center
            p
                font-size: 16px
                line-height: 21px
                color: #000000
                width: 87px
                