.input-file-block
    position: absolute
    width: inherit
    height: 50px
    bottom: -7.5%
    background: #35B34A
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    &:active
        transform: translateY(2px)
    
    .input-file
        display: none
        // opacity: 0
        // visibility: hidden
        // position: absolute
    .input-img-btn
        width: inherit
        height: auto
        font-family: Rubik
        font-weight: 500
        font-size: 15px
        line-height: 18px
        text-align: center
        color: #FFFFFF
        cursor: pointer