.input_container {
  width: 100%;
  display: flex;
  align-items: baseline;
  background-color: #f5f5f5;
  margin: 6px 0;
}

.text_input {
  width: 100%;
  height: 44px;
  text-align: left;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin-left: 16px;
}

.text_input:focus {
  outline: none;
}

.text_input::placeholder {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 15px;
  color: #aaaaaa;
}

:focus::placeholder {
  color: transparent;
}

.input_wrapper {
  display: flex;
  align-items: center;
}

.input_wrapper::after {
  margin-left: 8px;
  content: "*";
  color: #ffffff;
  font-size: 18px;
}

.required::after {
  color: #000000;
}

.error_message {
  font-size: 14px;
  color: #f35d5d;
}

.error_input {
  background-color: #fff5f5;
  border: solid 2px #f35d5d;
}
