@import '../_fonts'

.formBlock
    display: flex
    flex-wrap: wrap
    width: 550px
    
    .inputBlock
        position: relative
        background: #F5F5F5
        width: 266px
        height: 44px
        margin-bottom: 16px
        display: flex
        align-items: center
        font-family: IBM Plex Mono
        font-size: 13px
        line-height: 150%
        color: #AAAAAA
    
        &:hover
            border-bottom: 1px solid #35B34A
            color: black
            margin-bottom: 14px
        
        &:nth-child(odd)
            margin-right: 18px 
        &:nth-child(3),
        &:nth-child(6)
            width: 349px
        &:nth-child(4),
        &:nth-child(5)
            width: 180px
        &:nth-child(7)
            width: 100%
            margin-right: 0
        &:nth-child(9),    
        &:nth-child(11)
            margin-right: 0
        &:nth-child(8),
        &:nth-child(10)
            margin-right: 18px 
        .input
            background: inherit
            margin-left: 16px
            font-family: IBM Plex Mono
            font-size: 13px
            line-height: 150%
            color: #AAAAAA
            &:active,
            &:focus,
                color: #000000
        input[type="date"]
            &:not(.has-value)
                &:before
                    width: 100%
                    content: attr(placeholder)
            &:not(.has-value)
                &:focus
                    &:before
                        width: 0
                        content: ''
            &:not(.has-value)
                &:visited
                    &:before
                        width: 0
                        content: ''
            
            // input[type="date"]
            //     color:#FFF
            //     &:before 
            //         color: #414141
            //         content: attr(placeholder)
            //     &:focus, &:valid 
            //         color: #414141
            //         &:before
            //             content: "" !important
                    
        // .input::-webkit-input-placeholder
        //     .span 
        //         color: black
            
        // .input[type="date"]::-webkit-datetime-edit
            // padding: 1em
            // z-index: -1
        // .input[type="date"]::-webkit-datetime-edit-fields-wrapper
        //     background: silver
        // .input[type="date"]::-webkit-datetime-edit-text
        //     color: red
        //     padding: 0 0.3em
        // .input[type="date"]::-webkit-datetime-edit-month-field
        //     color: blue
        // .input[type="date"]::-webkit-datetime-edit-day-field
        //     color: green
        // .input[type="date"]::-webkit-datetime-edit-year-field
        //     color: purple
        // .input[type="date"]::-webkit-inner-spin-button
        //     // width: 100%
        //     display: none
        .input[type="date"]::-webkit-calendar-picker-indicator
            // width: 100%
            background: transparent
            // display: none
            
        .error
            position: absolute
            color: red
            font-size: 11px
            top: -17px
            left: 0
            


        
            