@import '../_fonts'
@import '../_tags'
    
.mainBlock
    width: 1322px
    height: fit-content
    margin: 59px auto 230px
    font-style: normal
    font-weight: normal
    display: flex
    flex-direction: column

    .toEditMode
        font-family: Inter
        font-size: 15px
        line-height: 15px
        display: flex
        align-items: center
        justify-content: flex-end
        width: 192px
        margin-bottom: 48px
        color: #6A6A6A
        position: relative
        display: none
        &::before
            position: absolute
            content: ''
            background: url('../assets/arrow.svg') no-repeat
            width: 6px
            height: 10px
            left: 0
        &:hover
            color: #000000

    .mainContent
        display: flex
        justify-content: space-between
        width: 100%
            
        .sideBar
            position: relative
            width: 352px
            height: 774px
            position: relative
            background: #FFFFFF
            border: 1px solid #E7E7E7
            border-radius: 10px

            .sideBarList
                flex-direction: column
                margin: 16px auto
                display: flex
                align-items: space-between
                li
                    padding-left: 19px
                    height: 53px
                    display: flex
                    align-items: center
                    font-family: Rubik
                    font-size: 16px
                    line-height: 70%
                    color: #AAAAAA
                    &:first-child, &:hover
                        background: rgba(53, 179, 74, 0.1)
                        font-weight: 500
                        color: #000000                        
                        border-left: 3px solid #35B34A
                        padding-left: 16px

            .toolsBlock
                position: absolute
                width: 100%
                bottom: -23.5%
                button
                    width: 100%
                    height: 50px
                    background: #35B34A
                    border-radius: 10px
                    font-family: Rubik
                    font-weight: 500
                    font-size: 16px
                    letter-spacing: 0.015em
                    line-height: 70%
                    color: #FFFFFF
                    margin-bottom: 8px
                    &:nth-child(2)
                        background: transparent
                        border-radius: 8px
                        color: #35B34A
                        
                .switchBlock
                    margin-top: 24px
                    width: 182px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .switch
                        position: relative
                        width: 41px
                        height: 26px
                        display: inline-block
                        border-radius: 13px
                        margin: 0
                        background: white
                        input[type="checkbox"]
                            opacity: 0
                            width: 0
                            height: 0
                            &:checked + .slider
                                background: #35B34A
                            &:focus + .slider
                                box-shadow: 0 0 1px #35B34A
                            &:checked + .slider:before
                                background: #FFFFFF
                                transform: translateX(15px)

                        .slider
                            position: absolute
                            cursor: pointer
                            transition: .4s
                            top: 0
                            left: 0
                            right: 0
                            bottom: 0
                            background: #FFFFFF
                            border-radius: 13px
                            transition: .4s
                            &::before
                                position: absolute
                                content: ""
                                background: #35B34A
                                border-radius: 13px
                                height: 22px
                                width: 22px    
                                bottom: 2px
                                left: 2px
                                transition: .4s
                    p
                        font-family: Rubik
                        font-weight: 500
                        font-size: 18px
                        line-height: 70%
                        color: #4B4B4B
                                        
                
        .summaryBlock
            width: 950px
            height: fit-content
            article
                background: #FFFFFF
                border: 1px solid #E7E7E7
                border-radius: 10px
                height: fit-content
                margin-bottom: 20px
                padding-bottom: 16px
            
                .titleBlock
                    position: relative
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 886px
                    margin: 48px auto 24px
                    font-weight: 500
                    .title
                        font-family: Rubik
                        font-size: 24px
                        line-height: 70%
                        color: #000000
                    .titleImg
                        position: relative
                        width: 24px
                        height: 24px
                        background: #EDEDED
                        border-radius: 50px
                        margin-left: 8px
                        margin-bottom: 2px
                        display: flex
                        align-items: center
                        justify-content: center 
                        cursor: pointer
                        &:hover .popup
                            display: flex
                            

                    .dateText
                        font-family: IBM Plex Mono
                        font-style: italic
                        font-size: 15px
                        line-height: 70%
                        color: #AAAAAA

                .personalBlock
                    display: flex
                    width: 886px
                    height: 346px
                    margin: auto auto 17px auto
                    padding-top: 41px
                    justify-content: space-between
                    .photo
                        position: relative
                        width: 304px
                        height: 304px
                        background: #F5F5F5
                        border-radius: 50%
                        &::before
                            position: absolute
                            content: ''
                            background: url('../assets/camera.svg') no-repeat
                            width: 42px
                            height: 37.33px
                            top: 43%
                            left: 43%
                        
