@import '../_fonts'

.aboutBlock
    position: relative
    width: 886px
    height: fit-content
    margin: auto
    margin-bottom: 16px
    background:#F5F5F5
    display: flex
    align-items: center
    flex-direction: column
    .aboutMe
        width: 862px
        padding: 12px 0 0
        margin: 0 0 0 24px
        height: 58px
        resize: vertical
        overflow-y: scroll
        background: transparent
        outline: none
        border: none
        border-bottom: 1px solid #E0E0E7
        font-family: IBM Plex Mono
        font-size: 13px
        line-height: 150%
        color: #A4A4A4
        &:focus
            color: black

    .error
        position: absolute
        font-family: IBM Plex Mono
        color: red
        font-size: 12px
        top: -20px
        left: 0            

    .editPanel
        width: 834px    
        height: 58px
        margin: auto 
        display: flex
        align-items: center
        justify-content: left
        .formatTextButton
            width: 20px
            height: 20px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 10px
            background:#F5F5F5
            
            &:focus
            &:not(:nth-child(4)):not(:nth-child(5)):not(:last-child):focus
                border-top: 1px solid grey
                border-left: 1px solid grey
                background: white
                transform: translateY(1px)
            &:first-child
                margin-left: -5px
            &:last-child img
                transform: rotateY(180deg)
                opacity: 0.5
            &:last-child:focus img
                opacity: 1
            &:nth-child(4)
                margin-left: 10px
                padding-right: 20px
                border-right: 1px solid #E0E0E7
            
    
            

    

    