@import '../_fonts'
    
.selectedItems
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    width: 886px
    height: fit-content
    margin: 0 32px 8px
    .selectedItem
        min-width: 130px
        padding-left: 10px
        height: 42px
        margin-right: 8px
        margin-bottom: 8px 
        background: #F2F2F2
        border-radius: 6px
        font-family: Rubik
        font-weight: 500
        font-size: 14px
        line-height: 70%
        display: flex
        align-items: center
        justify-content: center
        color: #6A6A6A
        img
            margin: auto 5px auto 22px

    
.formValue
    position: relative
    width: 886px
    height: 44px
    margin: auto
    margin-bottom: 16px
    display: flex
    justify-content: space-between
    align-items: center
    &:hover .dropdownModal,
        display: block
        transition: 3s

    .inputText
        width: 725px
        height: inherit
        background: #F5F5F5
        border-bottom: 1px solid #E0E0E7
        font-family: IBM Plex Mono
        color: #A4A4A4
        font-size: 13px
        line-height: 150%
        text-indent: 16px
        &:hover,
        &:focus
            color: black
            border-bottom: 1px solid #35B34A
            background: #E6E6E6
        
    .addButton
        width: 149px
        height: inherit
        background: #35B34A
        text-align: center
        color: #FFFFFF
        font-size: 13px
        line-height: 150%

    .dropdownModal
        display: none
        position: absolute
        width: 725px
        background: #FFFFFF
        border: 1px solid #DADADA
        box-shadow: 0px 13px 56px rgba(0, 0, 0, 0.23)
        top: 55px
        z-index: 1
        h3
            font-family: Rubik
            font-size: 16px
            line-height: 150%
            color: #000000
            margin: 20px 20px 24px
        .listValue
            display: flex
            justify-content: space-between
            width: 514px
            height: 42px
            margin: 0 20px 24px
            .itemListValue
                padding: 16px 26px
                background: #FFFFFF
                border: 1px solid #E8E8E8
                box-sizing: border-box
                border-radius: 6px
                font-family: Rubik
                font-weight: 500
                font-size: 14px
                line-height: 70%
                color: #6A6A6A
                cursor: pointer

.portfolioList
    width: 886px
    display: flex
    flex-direction: column
    margin: 8px auto
    .portfolioURL
        font-family: Rubik
        font-size: 13px
        line-height: 150%
        display: flex
        align-items: center
        justify-content: space-between
        text-decoration-line: underline
        color: #2C5DDF
        padding: 24px 0
        &:first-child
            border-bottom: 1px solid #E8E8E8


